<div class="table-responsive">
   <div class="d-flex justify-content-end pt-3 border border-light">
    <div><input type="text" class="form-control mb-3 rounded-0" placeholder="Search courses..." [(ngModel)]="searchQuery"></div>
    | filter: searchQuery;
    
   </div>
    <table class="table">
      <thead class="">
        <tr class="">
          <th>Course Code</th>
          <th>Course Name</th>
          <th>Credits(L-T-P-C)</th>
          <th>Intructor</th>
          <th>Slot</th>
          <th>Prerequisite met?</th>
          <th>Prerequisite Waiver</th>
        </tr>
      </thead>
      <tbody>
        @for (course of coreCourses | filter: searchQuery; track course.code) {
        <tr>
          <td>
            @if(true){
            <button
              type="button"
              class="btn btn-outline-dark me-2"
              ngbTooltip="Course already completed"
              tooltipClass="tooltip-styles"
              [openDelay]="300"
              [closeDelay]="400"
             
            >
              {{ course.code }}
            </button>
            }@else {
            <button
              type="button"
              class="btn btn-outline-primary me-2"
            >
              {{ course.code }}
            </button>
            }
          </td>
          <td>
            <span class="text-truncate">{{ course.name }}</span>
          </td>
          <td>
            <span class="fw-bold">{{
              course.credits
            }}</span>
          </td>
          <td>{{ course.instructor  }}</td>
          <td>{{ course.slot }}</td>
          <td>
            @if(true){
            <span class="badge px-3 text-white bg-primary"> YES</span>
            }@else {
            <span class="badge bg-warning px-3 text-white"> NO</span>
            }
          </td>
          <td>
            @if( true ){
            <button
              type="button"
              class="btn btn-primary p1-2 text-white px-4"
            >
              Apply
            </button>
            }
          </td>
        </tr>

        }
      </tbody>
    </table>
  </div>