<div class="container-fluid p-2 text-dark border border-dark">
  <div class="fs-5 d-flex justify-content-around">
    <div class="m-2 d-flex justify-content-around border border-dark flex-fill">
      <div><b> Program: </b> BTECH</div>
      <div><b> Branch: </b> CS</div>
      <div class="text-dark fs-5">
        <div><b>Total Credits</b> &nbsp; {{ totalcredits }}</div>
      </div>
    </div>
    <div class="felx-fill">
      @if(isselyourcourses){
      <button
        class="fs-5 btn btn-outline-primary"
        (click)="isselyourcourses = false; isselreviewcourses = true"
      >
        Review your courses &nbsp; <i class="fa-solid fa-arrow-right"></i>
      </button>
      } @else if (isselreviewcourses) {
      <button
        class="fs-5 btn btn-outline-primary"
        (click)="isselyourcourses = true; isselreviewcourses = false"
      >
        <i class="fa-solid fa-arrow-left"></i>
        Select your courses
      </button>
      }
    </div>
  </div>
</div>
@if(isselyourcourses){
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="table-primary">
      <tr>
        <th class="text-center" scope="col">
          Course Code
        </th>
        <th class="text-center text-wrap" scope="col">
          Course Name
        </th>
        <th class="text-center text-wrap" scope="col">
          Credits(L-T-P-C)
        </th>
        <th class="text-center text-wrap" scope="col">
          Instructor
        </th>
        <th class="text-center" scope="col">Slot</th>
        <th class="text-center" scope="col">
          Prerequisite met/Waived
        </th>
        <th class="text-center" scope="col">
          Add/Drop Courses
        </th>
        <th class="text-center" scope="col">More Info</th>
      </tr>
    </thead>
    <tbody>
      @for (item of courses; track $index) {
      <tr [ngClass]="{ 'table-light': ispastcoursesel(item) }">
        <td class="text-center">
          @if(iscompl){
          <div
            class="text-wrap"
            placement="right"
            ngbTooltip="Course Already Completed"
          >
            {{ item.code }}
          </div>
          } @else {
          <div>{{ item.code }}</div>
          }
        </td>
        <td class="text-center">{{ item.name }}</td>
        <td class="text-center">
          {{ item.credits }}
        </td>
        <td class="text-center">{{ item.instructor }}</td>
        <td class="text-center">{{ item.slot }}</td>
        @if(isprereqmet(item)){
        <td class="text-center text-success">
          <i class="fs-3 fa-solid fa-check"></i>
        </td>
        } @else {
        <td class="text-center text-danger">
          <div
            class="text-nowrap"
            placement="top"
            [ngbTooltip]="item.preRequisites | prereq"
          >
            <i class="fs-3 fa-solid fa-xmark"></i>
          </div>
        </td>
        }
        <td class="text-center">
          @if(!isyourcoursesel(item) && !iscompl &&
          (totalcredits+credit(item.credits)<=creditRange.max) && ispremet){
          <button
            class="btn text-white bg-success"
            (click)="
              this.yourcourses.push(item);
              totalcredits = totalcredits + credit(item.credits)
            "
          >
            <i class="fs-3 fa-solid fa-circle-plus"></i>
          </button>
          } @else if (isyourcoursesel(item)) {
          <button class="btn text-white bg-danger" (click)="dropcourse(item)">
            <i class="fs-3 fa-solid fa-circle-minus"></i>
          </button>
          }
        </td>
        <td>
          <a [href]="item.syllabusLink"
            ><i
              class="fs-3 fa-solid fa-circle-info text-dark text-center"
              ngbTooltip="For Syllabus"
              placement="top"
            ></i
          ></a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
} @else if (isselreviewcourses) {
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="">
      <tr>
        <th class="bg-primary text-white text-center" scope="col">
          Course Code
        </th>
        <th class="bg-primary text-white text-center text-wrap" scope="col">
          Course Name
        </th>
        <th class="bg-primary text-white text-center" scope="col">
          Credits(L-T-P-C)
        </th>
        <th class="bg-primary text-white text-center text-wrap" scope="col">
          Instructor
        </th>
        <th class="bg-primary text-white text-center" scope="col">Slot</th>
        <th class="bg-primary text-white text-center" scope="col">
          Prerequisite met/Waived
        </th>
        <th class="bg-primary text-white text-center" scope="col">
          Add/Drop Courses
        </th>
        <th class="bg-primary text-white text-center" scope="col">More Info</th>
      </tr>
    </thead>
    <tbody>
      @for (item of yourcourses; track $index) {
      <tr>
        <td class="text-center">{{ item.code }}</td>
        <td class="text-center">{{ item.name }}</td>
        <td class="text-center">
          {{ item.credits }}
        </td>
        <td class="text-center">{{ item.instructor }}</td>
        <td class="text-center">{{ item.slot }}</td>
        <td class="text-center text-success">
          <i class="fs-3 fa-solid fa-check"></i>
        </td>
        <td class="text-center">
          <button class="btn text-white bg-danger" (click)="dropcourse(item)">
            <i class="fs-3 fa-solid fa-circle-minus"></i>
          </button>
        </td>
        <td>
          <a [href]="item.syllabusLink"
            ><i
              class="fs-3 fa-solid fa-circle-info text-dark text-center"
              ngbTooltip="For Syllabus"
              placement="top"
            ></i
          ></a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="text-center m-2">
  @if(totalcredits>=creditRange.min){
  <button class="btn btn-primary" (click)="senddatatoserver()">
    Submit for FA Approval
  </button>
  } @else {
  <div class="text-center fs-4"><b>You don't have enough credits</b></div>
  }
</div>
}
