   
    <div class="d-flex justify-content-between">
        <div class="col-md-3">
          <div class="p-1 d-flex flex-row">
            <div class="input-group border rounded border-light">
              <div class="input-group-prepend border-0 bg-white">
                <label
                  for="search-filter-input"
                  class="input-group-text  border-0 bg-white"
                  id="basic-addon1"
                >
                  <i class="fa fa-search" aria-hidden="true"></i>
                </label>
              </div>
              <input
                id="search-filter-input"
                type="text"
                class="form-control border-0  flex-fill"
                placeholder="Search courses..."
                (input)="onSearch($event)"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>
        </div>
    
        <div class="btn-group me-3 ms-5">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <small class="text-primary">{{pageSize}} items per page</small>
            <button type="button" class="btn dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu text-dark" ngbDropdownMenu>
              <button ngbDropdownItem (click)="setPageSize(5)" > 5</button>
              <button ngbDropdownItem (click)="setPageSize(10)">10</button>
              <button ngbDropdownItem (click)="setPageSize(20)">20</button>
            </div>
          </div>
        </div>
       </div>
    <div class="table-responsive">
      <table class="table table-hover border">
        <thead>
          <tr class="text-center">
            <th class="text-uppercase">Course Code</th>
            <th class="text-uppercase">Course Name</th>
            <th class="text-uppercase">Credits (L-T-P-C)</th>
            <th class="text-uppercase">Instructor</th>
            <th class="text-uppercase">Slot</th>
            <th class="text-uppercase">Prerequisite</th>
            <th class="text-uppercase">More Info</th>
          </tr>
        </thead>
        <tbody>
          @for (course of filteredCourses$ | async; track course.code) {
          <ng-container>
            <tr
              class="text-center"
              [ngClass]="{ 'table-light': course.isComplete }"
            >
              <td>
                <span
                  class="text-dark"
                  *ngIf="course.isComplete"
                  ngbTooltip="Course already completed"
                  tooltipClass="tooltip-styles"
                  [openDelay]="300"
                  [closeDelay]="400"
                  (click)="toggleCollapse(course.code)"
                  [attr.aria-expanded]="!collapsedStates[course.code]"
                  aria-controls="collapseExample"
                >
                  {{ course.code }}
                  <i
                    class="fas fa-circle-check text-success mx-2"
                    style="font-size: 12px"
                  ></i>
                </span>
                @if(!course.isComplete){
                <span
                  class="me-2 text-primary"
                  (click)="toggleCollapse(course.code)"
                  [attr.aria-expanded]="!collapsedStates[course.code]"
                  aria-controls="collapseExample"
                >
                  {{ course.code }}
                </span>
                }
              </td>
              <td>{{ course.name }}</td>
              <td>{{ course.credits }}</td>
              <td style="white-space: pre-line">
                {{ course.instructor.join("\n") }}
              </td>
              <td>{{ course.slot }}</td>
              <td>
                @if (course.isComplete || course.isPrerequisiteMet) {
                <ng-container>
                  <i class="fs-5 fa-solid fa-check text-success"></i>
                </ng-container>
                }@else {
                <ng-container>
                  @if (!course.isComplete && !course.isPrerequisiteMet &&
                  (course.preReqWaiverStatus === PreWaiverStatus.REJECTED ||
                  course.preReqWaiverStatus === PreWaiverStatus.NOT_APPLIED)) {
                  <span
                    [ngbTooltip]="
                      course.preReqWaiverStatus === PreWaiverStatus.REJECTED
                        ? 'REJECTED: Please Apply for Prerequisite Waiver'
                        : 'Apply for Prerequisite'
                    "
                    class="btn text-primary p-0"
                    (click)="toggleCollapseApply(course.code)"
                    [attr.aria-expanded]="!collapsedStatesApply[course.code]"
                    aria-controls="collapseExample"
                  >
                    <i class="fa-regular fa-pen-to-square"></i>
                  </span>
                  } @if (course.preReqWaiverStatus === PreWaiverStatus.APPLIED) {
                  <span class="badge text-success text-uppercase">
                    {{ course.preReqWaiverStatus }}
                  </span>
                  }
                </ng-container>
                }
              </td>
              <td>
                <a [href]="course.syllabusLink"
                  ><i class="fas fa-circle-info text-primary"></i
                ></a>
              </td>
            </tr>
            @if (collapsedStatesApply[course.code] && !course.isComplete &&
            !course.isPrerequisiteMet && (course.preReqWaiverStatus ===
            PreWaiverStatus.REJECTED || course.preReqWaiverStatus ===
            PreWaiverStatus.NOT_APPLIED)) {
            <tr>
              <td colspan="7" class="m-2">
                <div class="m-2 p-1">
                  <div class="d-flex justify-content-end">
                    <textarea
                      rows="1"
                      [(ngModel)]="reasonInput"
                      name="reason-{{ course.code }}"
                      type="text"
                      class="form-control mt-1 me-2 w-50"
                      placeholder="Reason for waiver"
                    ></textarea>
                   <div>
                    <button
                    class="btn btn-sm mt-1 py-1 px-3 btn-outline-primary"                    
                    [disabled]="!reasonInput.trim()"
                    (click)="applyWaiverRequest(course)"
                  >
                    Apply
                  </button>
                   </div>
                  </div>
                </div>
              </td>
            </tr>
            }
          </ng-container>
          }
        </tbody>
      </table>
      <div class="d-flex justify-content-between">
        <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
      ></ngb-pagination>
      @if (filteredCourses$ | async; as courses) {
        @if(courses.length  >= 15){
            <div class="btn-group me-3 ms-5">
                <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                  <small class="text-primary">{{pageSize}} items per page</small>
                  <button type="button" class="btn dropdown-toggle-split" ngbDropdownToggle></button>
                  <div class="dropdown-menu text-dark" ngbDropdownMenu>
                    <button ngbDropdownItem (click)="setPageSize(5)" > 5</button>
                    <button ngbDropdownItem (click)="setPageSize(10)">10</button>
                    <button ngbDropdownItem (click)="setPageSize(20)">20</button>
                  </div>
                </div>
              </div>       
        }
        
      }
      </div>
     
    </div>