<div class="container-fluid p-2 rounded-0 border border-light text-white">
  <div class="d-flex justify-content-around">
    <div class="m-2 d-flex justify-content-around border bg-primary flex-fill">
      <div><b> Program: </b> BTECH</div>
      <div><b> Branch: </b> CS</div>
      <div><b> Semester: </b> 1</div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th class="text-uppercase">
          Course
          <div>Code</div>
        </th>
        <th class="text-uppercase" scope="col">
          Course
          <div>Name</div>
        </th>
        <th class="text-uppercase" scope="col">
          Credits
          <div>(L-T-P-C)</div>
        </th>
        <th class="text-uppercase" scope="col">Instructor</th>
        <th class="text-uppercase" scope="col">Slot</th>
        <th class="text-uppercase" scope="col">
          Prerequisite
          <div>Met/Waived?</div>
        </th>
        <th class="text-uppercase" scope="col">
          Add/Drop
          <div>Courses</div>
        </th>
        <th class="text-uppercase" scope="col">
          More
          <div>Info</div>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (course of refreshcourses; track course.code) {
      <tr
        class="text-center"
        [ngClass]="{ 'table-light': ispastcoursesel(course) }"
      >
        <td>
          @if(ispastcoursesel(course) ){
          <div class="text-wrap" ngbTooltip="Completed" placement="bottom">
            {{ course.code }}
            <i class="fa-solid fa-circle-check text-success"></i>
          </div>
          } @else {
          <div class="text-wrap">{{ course.code }}</div>
          }
        </td>
        <td>{{ course.name }}</td>
        <td>{{ course.credits }}</td>
        <td>{{ course.instructor }}</td>
        <td>{{ course.slot }}</td>
        @if(isprereqmet(course) &&
        addCourseService.isCoreqMet(student?.completedCourses, course)){
        <td class="text-success">
          <i class="fs-5 fa-solid fa-check"></i>
        </td>
        } @else{
        <td class="text-danger">
          <i class="fs-5 fa-solid fa-xmark"></i>
        </td>
        }
        <td>
          @if(isprereqmet(course) &&
          addCourseService.isCoreqMet(student?.completedCourses,course) &&
          addCourseService.totalcredits+addCourseService.credit(course.credits)<=creditRange.max
          && !addCourseService.isSlotClash(course) &&
          !addCourseService.isYourCourse(course) && !ispastcoursesel(course)){
          <button
            class="btn py-0 px-2 bg-primary text-white"
            (click)="this.addCourseService.addCourse(course)"
          >
            <i class="fa-solid fa-circle-plus"></i>
          </button>
          } @else if (addCourseService.isYourCourse(course) &&
          addCourseService.isCoreqMet(student?.completedCourses,course)) {
          <button
            class="btn py-0 px-2 bg-danger text-white"
            (click)="
              addCourseService.deleteCourse(student?.completedCourses, course)
            "
          >
            <i class="fa-solid fa-circle-minus"></i>
          </button>
          }
        </td>
        <td>
          <a [href]="course.syllabusLink"
            ><i
              class="fa-solid fa-circle-info text-primary"
              ngbTooltip="Syllabus"
              placement="bottom"
            ></i
          ></a>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="d-flex justify-content-between m-2">
    <div>
      <ngb-pagination
        [collectionSize]="courses.length"
        [(page)]="page"
        [pageSize]="pagesize"
        (pageChange)="Refreshcourse()"
      >
      </ngb-pagination>
    </div>
    <div class="fs-5 text-dark text-center mx-2 border border-light p-2">
      @if(addCourseService.totalcredits<creditRange.max){ <strong> Total credits </strong>
      {{ addCourseService.totalcredits }}
      } @else { You have reached max credit range <strong> {{ creditRange.max }} </strong> 
      }
    </div>
    <div>
      <button
        class="btn btn-primary"
        (click)="
          addCourseService.electiveRange = true;
          addCourseService.coreCourse = false
        "
        ngbTooltip="Click to proceed"
        placement="left"
      >
        Elective Range
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div>
    <ngb-alert [dismissible]="false" class="d-block p-2" type="warning">
      Disclaimer!!! If you are not able to add a course it could be due to either of the following reasons<br>
      1. The prerequisites or corequisites are not met (Kindly check the syllabus through the More Info)<br>
      2. The total credit will be exceeded<br>
      3. The slot of the course clashes with another<br>
      4. Already completed (will be grayed out) <br>
    </ngb-alert>
  </div>
</div>
