<div>
  

 <div class="container-fluid border border-light">
  <div class="row">
    <div class="col-md-9">
      <div class="container-fluid">        
      <div class="m-2 d-flex justify-content-around  bg-primary flex-fill text-white">
        <div><b> Program: </b> BTECH</div>
        <div><b> Branch: </b> CS</div>
        <div >
          <div><b>Semester </b> &nbsp; 1</div>
        </div>
    </div>
      </div>
    </div>
    <div class="col-md-3">
          <div class="p-1 d-flex flex-row">
            <div class="input-group border border-light">
              <div class="input-group-prepend border-0 bg-white">
                <label for="search-filter-input" class="input-group-text  rounded-0 border-0 bg-white" id="basic-addon1"> 
                  <i class="fa fa-search" aria-hidden="true"></i>
                </label>
              </div>
              <input  
              id = "search-filter-input"
              type="text"
              class="form-control border-0 form-control-sm flex-fill" 
              placeholder="Search courses..."
              (input)="onSearch($event)" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
    </div>
  </div>

 </div>
  <div>
    <div class="table-responsive">
     
      <table class="table table-hover">
        <thead >
          <tr class="text-center ">
            <th class="text-uppercase">Course<div>Code</div></th>
            <th class="text-uppercase"> Course<div>Name</div></th>
            <th class="text-uppercase">Credits<div>(L-T-P-C)</div></th>
            <th class="text-uppercase">Intructor</th>
            <th class="text-uppercase">Slot</th>
            <th class="text-uppercase">Prerequisite</th>
          </tr>
        </thead>
        
        <tbody>
          @for (course of filteredCourses$ | async; track course.code) {
          <tr class="text-center" [ngClass]="{ 'table-light': isCourseAlreadyCompleted(course) }">
            <td>
              @if(isCourseAlreadyCompleted(course)){

              <button
                type="button"
                class="btn btn-outline-dark border-0 py-1 rounded-5 shadow-sm" style="width: 10vw;"
                ngbTooltip="Course already completed"
                tooltipClass="tooltip-styles"
                [openDelay]="300"
                [closeDelay]="400"
                (click)="toggleCollapse(course.code)"
                [attr.aria-expanded]="!collapsedStates[course.code]"
                aria-controls="collapseExample"
              >
                {{ course.code }}
                <i
                  class="fas fa-circle-check text-success mx-2"
                  style="font-size: 12px"
                ></i>
              </button>

              <div
                #collapse="ngbCollapse"
                [ngbCollapse]="!collapsedStates[course.code]"
                class="position position-absolute"
              >
                <div class="card">
                  <div class="card-body">
                    <app-course-detail
                      [courseDetail]="course"
                    ></app-course-detail>
                  </div>
                </div>
              </div>

              }@else {
              <button
                type="button " style="width: 10vw;"
                class="btn shadow-sm me-2  btn-outline-primary border-0   rounded-5   py-1"
                (click)="toggleCollapse(course.code)"
                [attr.aria-expanded]="!collapsedStates[course.code]"
                aria-controls="collapseExample"
              >
                {{ course.code }}
              </button>
              <div
                #collapse="ngbCollapse"
                [ngbCollapse]="!collapsedStates[course.code]"
                class="position position-absolute"
              >
                <div class="card">
                  <div class="card">
                    <div class="card-body">
                      <app-course-detail
                        [courseDetail]="course"
                      ></app-course-detail>
                    </div>
                  </div>
                </div>
              </div>

              }
            </td>
            <td>
              <span
                class="d-inline-block text-truncate"
                style="max-width: 150px"
                [ngbTooltip]="course.name"
                >{{ course.name }}</span
              >
            </td>
            <td>
              <span>{{ course.credits }}</span>
            </td>
            <td>
              <span
                class="d-inline-block text-truncate"
                style="max-width: 150px"
                [ngbTooltip]="course.instructor.join(',')"
                >{{ course.instructor }}</span
              >
            </td>
            <td>{{ course.slot }}</td>
            <td>
              @if ( isCourseAlreadyCompleted(course) || isPrerequisiteMet(course)){
              <i class="fs-5 fa-solid fa-check text-success"></i>
              }@else if( !isCourseAlreadyCompleted(course) &&
              !isPrerequisiteMet(course) && !isPrerequisiteWaiverApplied(course)
              ) {
                <span
                type="button"
                class="badge bg-primary p1-2 text-white px-4"
                (click)="toggleCollapseApply(course.code)"
                [attr.aria-expanded]="!collapsedStatesApply[course.code]"
                aria-controls="collapseExample"
                ><i class="fa-regular fa-pen-to-square"></i> </span>


                  <div
                  class="m-2 "
                  #collapse="ngbCollapse"
                  [ngbCollapse]="!collapsedStatesApply[course.code]">
  
                  <div class="">
                    <textarea
                      rows="1"
                      [(ngModel)]="reasonInput"
                      name="reason-{{ course.code }}"
                      type="text"
                      class="form-control mt-1"
                      placeholder="Reason for waiver"
                    ></textarea>
  
                      <button
                      class="btn btn-sm mt-1 py-1 px-3 btn-outline-primary "
                      (click)="closeInput(course.code)">
                      Apply
                    </button>
                  </div>
                </div>
              } @else {
                <span class="badge bg-light text-success text-uppercase"> applied</span>
              }
            </td>
          
          </tr>

          }
        </tbody>
      </table>

      <div>
        <ngb-pagination
	[collectionSize]="collectionSize"
  [(page)]="page"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
	[maxSize]="5"
	[rotate]="true"
	[ellipses]="false"
	[boundaryLinks]="true"
/>
      </div>
    </div>
  </div>
</div>
