<div class="row g-3 justify-content-center mt-1">

    <!-- Search By Department -->
    <!-- <div class="card col-1 me-2">
        <h4>Search by Program</h4>
        @for (item of programs; track $index) {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  {{item}}
                </label>
            </div>
        }

    </div> -->

    <button class="input-group-text btn btn-secondary" id="basic-addon1">Search
        Student</button>
      <input type="text" class="form-control"
        placeholder="Enter a student name or Roll No and click Search Student to the Left" aria-label="Username"
        aria-describedby="basic-addon1" [(ngModel)]="searchCourse" [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead">


    <!-- Table  -->
    <div class="col-11 ms-2">
        <table class="table table-striped table-bordered">
            <thead class="bg-primary text-light">
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Instructor</th>
                <th>Slot</th>
                <th>Prerequisite Met?</th>
                <th>Prerequisite Waiver</th>
            </thead>

            <tbody>
                @for (item of selectedCourses; track $index) {
                    <tr scope="col">
                        @if(isCourseAlreadyCompleted(item)){
                            <!-- <td title="Course already completed"> {{item.code}} </td> -->
                            <div class="text-wrap">
                            <td class="text-light bg-secondary" placement="top" ngbTooltip="Course already completed">
                                {{item.code}}
                            </td>
                        </div>
                        }
                        @else{

                            <td> {{item.code}} </td>
                        }
                        <td> {{item.name}} </td>
                        <td> {{item.credits}} </td>
                        <td> {{item.instructor}} </td>
                        <td> {{item.slot}} </td>
                        <td>  
                            <!-- {{item.preRequisiteMet?}} -->
                             @if(checkPrerequisiteMet(item)){
                                Yes
                             }
                             @else {
                                No
                             }
                        </td>
                        <td>  
                            <!-- {{item.applyForWaiver}} -->
                             @if(!checkPrerequisiteMet(item)){
                                <button class="btn btn-secondary"> Apply </button>
                             }
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>

    </div>

</div>