<div>
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav nav-pills m-3 shadow p-2"
  >
    <li [ngbNavItem]="1" class="px-4">
      <button
        ngbNavLink
        class="text-dark"
        [ngClass]="{ 'active-tab': active === 1, 'text-white': active === 1 }"
      >
        Courses offered
      </button>
      <ng-template ngbNavContent>
          <app-courses-offered  [courses$]="courses$"></app-courses-offered>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="px-4">
      <button
        ngbNavLink
        class="text-dark"
        [ngClass]="{ 'active-tab': active === 2, 'text-white': active === 2 }"
      >
        Core Courses Offered
      </button>
      <ng-template ngbNavContent>
       
          <app-core-courses [coreCourses$]="coreCourses$"></app-core-courses>
      
       
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>


  