
<div class="container-fluid">
  <div class="card">    
    <div class="card-header text-center text-dark fw-bold">
        My Courses
    </div>  
      <div class="card-body">
        <div>
          <div class="form-check form-switch">
            <input class="form-check-input" (click)="toggleCourses()" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Show Core Courses Only</label>
          </div>
        </div>
          @if (isCoreCourses$.getValue()) {
            <app-courses-table [courseList$]="coreCourses$"></app-courses-table>
          }@else {
            <app-courses-table [courseList$]="allCourses$"></app-courses-table>
          }
      </div>
  </div>
</div>



  