<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-around">
                <div><b> Program: </b> BTECH</div>
                <div><b> Branch: </b> CS</div>
                <div>
                  <div><b>Semester </b> &nbsp; 1</div>
                </div>
              </div>
        </div>
        <div class="card-body">
            <app-courses-table [courseList$]="coreCourses$"></app-courses-table>
        </div>
    </div>
</div>