<div class="row" style="height: 400px">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
          <ng-container ngbNavItem>
            <button ngbNavLink (click)="selectTab('DeclareElectives')">
              Declare Electives Credit Range
            </button>
            <ng-template ngbNavContent> </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <button ngbNavLink (click)="selectTab('ReviewElectives')">
              Review Elective Courses
            </button>
            <ng-template ngbNavContent> </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink (click)="selectTab('Electives')"
              >Your Elective Courses</a
            >
            <ng-template ngbNavContent> </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      @if (selectedTab === 'DeclareElectives') {
      <div class="justify-content-center">
        <form (ngSubmit)="onsubmit()">
          <div class="card-body">
            <table class="table table-striped border">
              <thead>
                <tr class="text-center align-middle">
                  <th>Elective Courses</th>
                  <th>Min Credits</th>
                  <th>Max Credits</th>
                </tr>
              </thead>
              <tbody>
                @for (item of basket; track $index; ) {
                <tr class="text-center align-middle">
                  <td>{{ item }}</td>
                  <td>
                    <input
                      type="number"
                      #minCredit
                      (change)="addMinCredit(+minCredit.value, $index)"
                      style="border: primary"
                      placeholder="0"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      #maxCredit
                      (change)="addMaxCredit(+maxCredit.value, $index)"
                      style="border: primary"
                      placeholder="0"
                      required
                    />
                  </td>
                </tr>
                }
              </tbody>
            </table>

            <button
              type="button"
              class="btn btn-primary"
              (click)="onclicking()"
            >
              Submit For FA Approval
            </button>
            <div *ngIf="formErrors.length > 0" class="text-danger mt-2">
              <div *ngFor="let error of formErrors">{{ error }}</div>
            </div>
          </div>
        </form>
      </div>
      }
    </div>
  </div>
</div>
